<!DOCTYPE html>
<html lang="en" ng-app="AssessmentApp">

<head>
    <meta charset="UTF-8">
    <title>Revision App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

 <body ng-cloak> <!--To hide {{}} from appearing -->
    <div class="col-sm-2 col-lg-4"></div> 
    <!-- Anything inside this div is under RegistrationCtrl -->

    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 smart-green">
        <h1> REGISTRATION FORM </h1>
        <!-- Checking validity of form fields -->
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            <!-- Email Input & Validation for mandatory valid email input-->
            <div class="form-group">
                <label for="email">Email address</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control"  ng-model="ctrl.user.email" required>
                <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span>Email is Mandatory
                    </div>
                    <div data-ng-show="registrationForm.email.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
            </div>
            <!-- Password input and validation for password criteria -->
            <div class="form-group">
                <label for="password">Password</label>
                <!-- Check if password meets min length includes a number, special char, upper and lower case char-->
                <input id="password" name="password" type="password" placeholder="Include a number, a special character and both cases" class="form-control"  ng-model="ctrl.user.password" minlength="8" required ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"> 
                <!-- Prompt error message is field is left empty -->
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is required
                    </div>
                <!-- Error Messages -->
                <div data-ng-show="registrationForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                </div>
                    
                <div data-ng-show="registrationForm.password.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span> Password must include a number, a special character (@, #, $) and both upper and lower cases.
                </div>
                 <!-- End of Error Messages -->
                </div>
            </div>

    <!-- Checking if the Password matched -->
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" class="form-control" ng-model="ctrl.user.confirmpassword"/>
                <div class="validation" data-ng-show="registrationForm.confirmpassword.$touched || registrationForm.$submitted">
            
            <!-- Error Messages -->
                    <div data-ng-show="registrationForm.confirmpassword.$error.required">
                       <span class="glyphicon glyphicon-alert"></span> Password is required
                    </div>
                    <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                        <span class="glyphicon glyphicon-alert"></span> Password do not match
                    </div>
                </div>  <!-- End of Error Messages -->
            </div>
            

            <!-- Name and validation to check if there is name entered-->
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" placeholder="Please enter your fullname" class="form-control" ng-model="ctrl.user.fullname" required> 
                
                <div class="validation" data-ng-show="registrationForm.fullname.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.fullname.$error.required">
                           <span class="glyphicon glyphicon-alert"></span> Please enter your full name
                        </div>
                </div>
            </div>
            

            <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.user.gender" required/> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.user.gender"/> Female
                <br/>
                <!-- <div class="validation" data-ng-show="registrationForm.gender.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Gender is mandatory.
                    </div>
                </div> -->
            </div>

        <!-- Check DOB input field to be of minimum age-->
            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input  id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth" required>
                <div class="validation" data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Date of Birth is mandatory.
                    </div>
                <!-- Check and prompt message if under age when submitted-->
                    <div data-ng-show="registrationForm.$submitted && ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                        <span class="glyphicon glyphicon-alert"></span> You must be at least 18 years old.
                    </div>
                 <!-- Check and prompt immediate error message if under age-->
                    <div data-ng-show="registrationForm.$dirty && ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                        <span class="glyphicon glyphicon-alert"></span> You must be at least 18 years old.
                    </div>

                </div>
            </div>

    <!-- Address Field-->
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" placeholder="Please enter your address" class="form-control" ng-model="ctrl.user.address" required> 

                <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.address.$error.required">
                       <span class="glyphicon glyphicon-alert"></span> Please enter your address
                    </div>
                </div>
    <!-- Field for Nationality-->
            </div>
            <div class="form-group">
                <label for="nationality">Nationality</label>
                <select class="form-control" id="nationality" ng-model="ctrl.user.nationality" required> 
                <option value="" selected>Please select your Nationality</option>
                <option value="1">Singaporean</option>
                <option value="2">Malaysian</option>
                <option value="3">Others</option>
            </select>
                <div class="validation" data-ng-show="registrationForm.nationality.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.nationality.$error.required">
                   <span class="glyphicon glyphicon-alert"></span> Please select your nationality
                </div>
            </div>
            </div>

<!-- Phone input and Validate if it is a valid number -->
            <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input id="contactNumber" name="contactNumber" type="text" ng-minlength="10" ng-maxlength="10" class="form-control" placeholder="10 digit phone number including the country code" ng-model="ctrl.user.contactnumber" required ng-pattern="/^[0-9]*$/"> 
                <div class="validation" data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.contactNumber.$error.required">
                           <span class="glyphicon glyphicon-alert"></span> Please enter your contact number
                        </div>
                <!-- Prompt instant error if doesn't meet requirement -->
                        <div data-ng-show="((registrationForm.contactNumber.$error.minlength || registrationForm.contactNumber.$error.maxlength) && registrationForm.contactNumber.$dirty)">
                            <span class="glyphicon glyphicon-alert"></span> Phone number should be in 10 digits
                         </div>
                <!-- Prompt error if there is any special characters -->
                         <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Phone Number should not include special character. (e.g. @, #, $).
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div class="form-group">
                <hr/>
                <!-- Button only appear when all fields are filled and validated, includes checking on pending status-->
                <!-- Upon clicking submit, a Thank you message will be prompt -->
                <input id="submit" name="submit" type="submit" class="btn btn-success btn-block" ng-disabled="registrationForm.$invalid || registrationForm.$pending" onclick="return confirm('Thank You For Your Submission!');"/>
                
            </div>

        
    </form>
    </div> <!--End of Controller -->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/registration.controller.js"></script>
</body>

</html>