/* Html and background Styling */
html { 
    background: url(/img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
  }
 
  /* end of html and background */

  /* styling for validation */
 .validation {
    color: red;
 }

 /* Styling for form */
 .smart-green {
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
    background: #F8F8F8;
    padding: 20px 30px 20px 30px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 47px 6px;
    -moz-box-shadow: 10px 10px 47px 6px;
    box-shadow: 10px 10px 47px 6px;
}
.smart-green h1 {
    font: 35px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    align-content: center;
    background: #9DC45F;
    text-shadow: 1px 1px 2px black, 0 0 25px #6A816A, 0 0 5px #179338;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;

}
.smart-green h1>span {
    display: block;
    font-size: 11px;
    color: #FFF;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:100px;
    padding-top: 10px;
}

.smart-green .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
    background-color:#80A24A;
}

/* end of form styling */